<section class="facilidades">
  <h2>Conheça todas as nossas facilidades</h2>
  <ul class="lista-facilidades">
    <li class="lista-item">
      <img src="../../../assets/Desktop/Ícones/x-diamond (2).png" alt="">
      <div>
        <h4>PAGUE PELO PIX</h4>
        <p>Ganha 5% OFF em pagamentos via PIX.</p>
      </div>

    </li>

    <li class="lista-item">
      <img src="../../../assets/Desktop/Ícones/arrow-repeat (2).png" alt="">
      <div>
        <h4>PAGUE PELO PIX</h4>
        <p>Ganha 5% OFF em pagamentos via PIX.</p>
      </div>

    </li>

    <li class="lista-item">
      <img src="../../../assets/Desktop/Ícones/flower1 (3).png" alt="">
      <div>
        <h4>PAGUE PELO PIX</h4>
        <p>Ganha 5% OFF em pagamentos via PIX.</p>
      </div>

    </li>
  </ul>
</section>
