.facilidades {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 238px;
   padding-bottom: 40px;
   width: 100%;
}
h2{
  padding-top: 40px;
  margin-bottom: 40px;
}
h4 {
  color: #DAFF01;
}

.lista-facilidades{
  margin: auto;

  width: 976px;
  list-style: none;
  display: flex;
  gap: 32px;
}


img{
  display: flex;
}

.lista-item
{
  display: flex;
  align-items: center;
}
