section {
  margin-top: 78px;
  width: 100%;
  margin: auto;
  min-width: 375px;
}

.categoria {
  text-align: center;
  margin-bottom: 32px;
}

.lista-categoria {
  display: flex;
  flex-wrap: wrap;
}

ul.lista-categoria {
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 30px;
  margin-left: 162px;
  margin-right: 162px;
  border: 1px solid ;
}

.descricao-categoria,
a {
  text-align: center;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}


 /* @media (max-width : 1439px) {
  ul.lista-categoria {
    width:100%;
    margin: auto;

  }
} */
@media (max-width: 869px) {
  ul.lista-categoria {
    width: 34.94rem;
     margin: auto;
    display: flex;
  }
}

@media (max-width:569 ) {
  ul.lista-categoria {
    width: 80%;
     margin: auto;
    display: flex;
  }
}
