<section class="" >
  <h2 class="categoria">Busque por categoria:</h2>

  <ul class="lista-categoria ">

    <li class="">
      <a href="">
        <img src="../../../assets/Desktop/Categorias/Categoria Bolsa.png" alt="">
        <p class="descricao-categoria">Bolsa</p>
      </a>
    </li>

    <li class="">
      <a href="">
        <img src="../../../assets/Desktop/Categorias/Categoria calça.png" alt="">
        <p class="descricao-categoria">Calça</p>
      </a>

    </li >
    <li class="">
      <a href="">
        <img src="../../../assets/Desktop/Categorias/Categoria Calçados.png" alt="">
        <p class="descricao-categoria">Calçados</p>
      </a>
    </li>
    <li class="" >
      <a href="">
        <img src="../../../assets/Desktop/Categorias/Categoria camiseta.png" alt="">
        <p class="descricao-categoria">Camiseta</p>
      </a>
    </li>
    <li class="">
      <a href="">
        <img src="../../../assets/Desktop/Categorias/Categoria casacos.png" alt="">
        <p class="descricao-categoria">Casacos</p>
      </a>
    </li>
    <li class="">
      <a href="">
        <img src="../../../assets/Desktop/Categorias/Categoria óculos.png" alt="">
        <p class="descricao-categoria">Óculos</p>
      </a>
    </li>

  </ul>

</section>
