section{
  margin-top: 78px;
  width: 1110px;
  margin: auto 165px;

}

.categoria{
  text-align: center;
  margin-bottom: 32px;
  width: 100%;

}

ul.lista-categoria {
  justify-content: space-between;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;



}

.descricao-categoria, a{
  text-align: center;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
