section{
  margin-top: 78px;
  /* max-width: 1110px; */
  /* margin: auto 165px; */
  min-width: 375px;
  }

.categoria{
  text-align: center;
  margin-bottom: 32px;


}

.lista-categoria
{
  display: flex;
  flex-wrap: wrap
}

ul.lista-categoria {
  justify-content: space-between;
  padding: 0;
  list-style: none;
  gap: 30px;

}

.descricao-categoria, a{
  text-align: center;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  font-weight: 500;

}


/* @media (min-width: 500px) {

section{

}
} */



