<ngb-carousel [interval]="5000">
  <ng-template ngbSlide>
    <div class="t2">
      <img src="../../../assets/Desktop/Banner carousel 1 _ 1440 (1).png" alt="Banner Roxo">
      <h1 class="tst">wendell</h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div >
      <img src="../../../assets/Desktop/Banner carousel 2 _ 1440 (1).png" alt="Banner Rosa">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/Desktop/Banner carousel 3 _ 1440 (1).png" alt="Banner Laranjado">
    </div>
  </ng-template>
</ngb-carousel>
