*{
  width: 100%;
  min-width: 375px;
}
.banner
{
  width: 100%;
}

.carousel-caption{
  text-align: start;
  width: 1100px;
  margin-bottom: 4.8rem;
}

.rosa{
   text-align: end;
  width: 1100px;
  margin-bottom: 6.5rem;
  padding-right: 50px;

}

@media (max-width: 756px) {
  .banner{
    display: flex;
  }

}
