<ngb-carousel [interval]="3000">
    <ng-template ngbSlide>
    <div class="t2">
      <img src="../../../assets/Desktop/Banner carousel 1 _ 1440 (1).png" alt="Banner Roxo">
    </div>

  </ng-template>

  <ng-template ngbSlide>
    <div>
      <img src="../../../assets/Desktop/Banner carousel 2 _ 1440 (1).png" alt="Banner Rosa">
    </div>
    <div class="carousel-caption rosa">
      <h1 class="tst">COLEÇÃO ATEMPORAL</h1>
      <p>Estilo e qualidade para durar. </p>
    </div>
  </ng-template>

    <ng-template ngbSlide>
    <div>
      <img src="../../../assets/Desktop/Banner carousel 3 _ 1440 (1).png" alt="Banner Laranjado">
    </div>
    <div class="carousel-caption">
      <h1 class="tst">COLEÇÃO ATEMPORAL</h1>
      <p>Alto impacto visual, baixo impacto ambiental!</p>
    </div>
  </ng-template>
</ngb-carousel>
