<header>
  <nav class="">

      <img src="../../../assets/Mobile/Logo mobile.png" alt="Logo Meteora" class="logo">


      <!-- <img src="../../../assets/Mobile/Ícones/menu.svg" class= "logo" alt="" srcset=""> -->
      <ul class="menu">
        <li><a href="http://" class="">Home</a></li>
        <li><a href="http://" class="">Nossa Lojas</a></li>
        <li><a href="http://" class="">Novidades</a></li>
        <li><a href="http://" >Promoções</a></li>
      </ul>
      <div class="busca">
        <form>
          <input type="search" name="pesquisar" id="pesquisar" placeholder="Digite o produto">
          <button type="button" class="buscar">Buscar</button>
        </form>

      </div>

  </nav>

</header>
