
header {
  background-color: black;

  flex-direction: column;
  display: flex;
  height: 58px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 18px 23px;


}
nav{
  display: flex;
  width: 100%;
  align-items: flex-start;
  height: 32px;
  justify-content: center;

}
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  height: 32px;
  align-items: center;

}
.logo{
  height: 32px;
  width: 150px;
}

#pesquisar{
  height: 38px;
}

.buscar{
  border: solid #fff 1px;
  color: #fff;
  background-color: #000;
  height: 38px;
  margin-left: 10px;
}
.busca{
 margin-left: auto;
}
ul.menu a {
  text-decoration: none;
  color: aliceblue;
}

@media (max-width: 768px) {
  header {
      width: 100%;
  }
}


@media (max-width: 375px) {
  header {
      width: 100%;
  }
}
