<section>
  <h2 class="titulo">Produtos que estão bombando!</h2>

  <ul class="lista-produtos">
    <li *ngFor="let item of itens">
      <a>
        <img [src]="item.imagem" alt="">
      </a>
      <div class="descricao">
        <h5><b>{{ item.titulo }}</b></h5>
        <p>{{ item.descricao }}</p>
        <span><b> {{ item.preco | currency}}</b></span>
        <br>
        <button class="botao" (click)="onModalChange(true)">Ver mais</button>
      </div>
      <div *ngIf="modalAberto">
        <app-produtos-modal [itens]="itens" (mudouModal)="onModalChange($event)" ></app-produtos-modal>
      </div>
    </li>
  </ul>

</section>

