section {
  margin: auto 162px;

}
.titulo {
  text-align: center;
  padding-left: 32px;

}

.lista-produtos {
  width: 100%;
  list-style: none;
  display: flex;

  flex-wrap: wrap;
  gap: 15px;
  row-gap: 15px;
  justify-content: center;

}

.lista-produto,
li {
  border: 1px solid #CCCCCC;
  width: 350px;
  height: 615px;


}

.descricao {
  margin: 13px 16px;
  font-size: 16px;
}

p {
  font-size: 13px;
}


.botao{
  background-color: #9353FF;
  color: #FFFF;
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin-top: 10px;
  padding: 9px 16px;
}


@media (max-width: 1060px) {
  .lista-produtos {

    justify-content: center;

  }

}
